body{
    padding-top: 65px;
    padding-bottom: 65px;
    background-color: #222222;
}

.navbar {
    opacity: 0.75;
}

.row.display-flex {
    display: flex;
    flex-wrap: wrap;
}
.thumbnail {
    height: 100%;
}

.indexfunction{
    padding-top: 5px;
}





