{% extends "CTCoreBundle::layout.html.twig" %}

{% block title %}
    Liste des Films - {{ parent() }}
{% endblock %}

{% block ctcore_body %}

    {{ include("CTCoreBundle:Movie:advancedSearchForm.html.twig") }}
    <div class="container well">
    <ul>
        {% for movie in listMovies|slice(0,5) %}
            {{ render(controller("CTCoreBundle:Movie:movie", {'id' : movie.id} )) }}

        {% endfor %}
    </ul>
    </div>
{% endblock %}