{% extends "CTCoreBundle::layout.html.twig" %}

{% block title %}
    Noter un film - {{ parent() }}
{% endblock %}

{% block ctcore_body %}

    <h2>Noter un film</h2>

    {{ render(controller("CTCoreBundle:Movie:movie", {'id' : movie.id} )) }}


    {{ include("CTCoreBundle:Movie:form.html.twig") }}

{% endblock %}