{% extends "::layout.html.twig" %}

{% block title %}
    Guide Cinématographique - {{ parent() }}
{% endblock %}

{% block body %}

    <div class="well container">

            {{ render(controller("CTCoreBundle:Movie:searchMovie" , {request: app.request})) }}

    </div>

        {% block ctcore_body %}
        {% endblock %}


{% endblock %}

