{% extends "::layout.html.twig" %}

{% block title %}
    Guide Cinématographique - {{ parent() }}
{% endblock %}

{% block body %}

    <div class="well container">
        <div class="col-md-9">
            {{ render(controller("CTCoreBundle:Movie:searchMovie" , {request: app.request})) }}
        </div>
        <div class="col-md-3">
            <div class="pull-right">
                <a class="btn btn-success" href="{{ path('ct_core_advancedsearch') }}" role="button"> Recherche avancée stratosphérique</a>
            </div>
        </div>
    </div>

        {% block ctcore_body %}
        {% endblock %}


{% endblock %}

