{% extends "::layout.html.twig" %}

{% block title %}
    Guide Cinématographique - {{ parent() }}
{% endblock %}

{% block body %}

    <div class="well container">

            {{ render(controller("CTCoreBundle:Movie:searchMovie" , {request: app.request})) }}

    </div>

    {% for message in app.session.flashbag.get('info') %}
        <div class="well container">
            {# On affiche tous les messages flash dont le nom est « info » #}
                <p> {{ message }}</p>
        </div>
    {% endfor %}





        {% block ctcore_body %}
        {% endblock %}


{% endblock %}

