{% extends "::layout.html.twig" %}

{% block title %}
    Guide Cinématographique - {{ parent() }}
{% endblock %}

{% block body %}
    <!-- Jumbotron -->
    <div class="jumbotron">
        <h1>Barre de recherche : La spécialité du site INCOMING !!!</h1>
        <p class="lead">CinemaTips, le nouveau guide du cinema, un outil rapide précis détaillé et intuitif !!!</p>

        <p>Ne perdez plus votre temps sur 4 supports différents toutes l'information cinématographique à porter de main juste ici !!! </p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Button qui déroule la recherche avancée stratosphérique</a></p>
    </div>

    {% block ctcore_body %}
    {% endblock %}

{% endblock %}