{% extends "::layout.html.twig" %}

{% block title %}
    Guide Cinématographique - {{ parent() }}
{% endblock %}

{% block body %}

    <div class="well container">

        {{ render(controller("CTCoreBundle:Movie:searchMovie" , {request: app.request})) }}

        <a class="btn btn-success" href="{{ path('ct_core_advancedsearch') }}" role="button"> Recherche avancée stratosphérique</a>

    </div>

    <div class="container">


        {% block ctcore_body %}
        {% endblock %}

    </div>

{% endblock %}

