{% extends "::layout.html.twig" %}

{% block title %}
    Guide Cinématographique - {{ parent() }}
{% endblock %}

{% block body %}

    <div class="well container">

            {{ render(controller("CTCoreBundle:Movie:searchMovie" , {request: app.request})) }}

    </div>
    {% if app.session.flashbag.get('info') is not defined %}
    {% else %}
        <div class="well container">
            {# On affiche tous les messages flash dont le nom est « info » #}
            {% for message in app.session.flashbag.get('info') %}
                <p>Message flash : {{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}

        {% block ctcore_body %}
        {% endblock %}


{% endblock %}

