{% extends "::layout.html.twig" %}

{% block title %}
    Guide Cinématographique - {{ parent() }}
{% endblock %}

{% block body %}

    <div class="well container">
        <div class="col">
            {{ render(controller("CTCoreBundle:Movie:searchMovie" , {request: app.request})) }} <a class="btn btn-success pull-right" href="{{ path('ct_core_advancedsearch') }}" role="button"> Recherche avancée </a>
        </div>
    </div>

        {% block ctcore_body %}
        {% endblock %}


{% endblock %}

